:root {
  --black: rgb(0, 0, 0);
  --transparent: transparent;
  --white: rgb(255, 255, 255);
  --border-radius: 0.5rem;
  --delete-color: rgb(222, 56, 56);
  --font-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;

  --text-xxs: 0.625em;
  --text-xs: 0.75em;
  --text-sm: 0.875em;
  --text-base: 1em;
  --text-lg: 1.125em;
  --text-xl: 1.25em;
  --text-xxl: 1.5em;

  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 1.75rem;
  --line-height-xxl: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-color: rgb(31, 41, 55);
    --bg-secondary-color: rgb(17, 24, 39);
    --box-shadow-color: 0 0.25rem 1.25rem rgba(149, 149, 149, 0.1);
    --fg-primary-color: rgb(31, 41, 55);
    --fg-secondary-color: rgb(243, 244, 245);
    --logo-color: rgb(75, 85, 99);
    --text-primary-color: rgb(107, 114, 128);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary-color: rgb(240, 240, 245);
    --bg-secondary-color: rgb(249, 250, 251);
    --box-shadow-color: 0 0.25rem 1.25rem rgba(149, 149, 149, 0.1);
    --fg-primary-color: rgb(243, 245, 246);
    --fg-secondary-color: rgb(31, 41, 55);
    --logo-color: rgb(93, 93, 109);
    --text-primary-color: rgb(115, 115, 128);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
