:root {
  --bg-transparent: transparent;
  --border-radius: 0.5rem;
  --font-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --min-width-sm: 576px;
  --min-width-md: 768px;
  --min-width-lg: 992px;
  --min-width-xl: 1200px;
  --min-width-xxl: 1400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-color: rgb(17, 24, 39);
    --bg-secondary-color: rgb(75, 85, 99);
    --box-shadow-color: rgb(75, 85, 99);
    --fg-primary-color: rgb(31, 41, 55);
    --logo-color: rgb(209, 213, 219);
    --text-primary-color: rgb(229, 231, 235);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary-color: rgb(240, 240, 245);
    --bg-secondary-color: rgb(249, 250, 251);
    --box-shadow-color: rgb(17, 24, 39);
    --fg-primary-color: rgb(243, 244, 245);
    --logo-color: rgb(93, 93, 109);
    --text-primary-color: rgb(115, 115, 128);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: var(--bg-primary-color);
  color: var(--fg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
